



{% extends 'news_app/base.html'%}
{% block content %}
<div class="row">
  
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>List Of Your Posts</h2>
                </div>
            </div>
            <!-- post -->
            {% for post in posts %}
            <div class="col-md-12" >
                <div class="post post-row" height="300px">
                    <a class="post-img" href=""><img src="{{ post.image.url }}" alt="" width='150px' height='150px'></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="{% url 'category' post.category %}">{{post.category}}</a>
                            <span class="post-date">{{post.date_time}}</span><br>
                            <span class="post-date" > By {{post.author}}</span></small> 
                        </div>
                        <h3 class="post-title"><a href="{% url 'country-detail' post.pk %}">{{post.title}}</a></h3>
                        {% if post.author == user %}
                              <div >
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'country-update' post.id %}">Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'country-delete' post.id %}">Delete</a>
                              </div><br>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /post -->

            

            
          
            
        </div>
    </div>
</div>
{% endblock %}



